.skill_nav {
  margin-top: 100px;
  font-size: smaller;
  padding-left: 11vw;
}

.skill__nav {
 color: #fdc7c7;
}

.skill_wrapper {
  width: 700px;
  margin: auto;
}

.skill_wrapper p {
  margin: 0;
}

.skill_wrapper h1 {
  font-size: 50px;
  font-weight: lighter;
  letter-spacing: 2px;
  padding-bottom: 10px;
  text-align: center;
}

.skill_wrapper h2 {
  border-left: 4px solid ;
  border-radius: 2px;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 40px;
  margin-bottom: 15px;
}

.skill_home {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 60px;
  color: #FFCCCC;
}